* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #248be6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 900px;  
    background-color: white;
    margin: 20px auto;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
}

.container div {
    border-radius: 20px;
    background-color: #D0E2F0;
}

/* Header */
.header {
    display: grid;
    grid-template-areas: 
    'foto title title' ;
    gap: 10px;
}

.foto-profile {
    grid-area: foto;
    width: 200px;
    height: 200px;
    background-image: url(foto/foto-profile.jpeg);
    background-size: cover;
    background-position-y: -25px;
}

.title {
    grid-area: title;
    padding: 10px 50px;
}

.nama {
    color: #020202;
    font-family: 'sinkin';
}

.pekerjaan {
    color: #0068DD;
}

.about {
    margin-top: 20px;
    word-spacing: 4px;
}

.about a {
    text-decoration: none;
    color: #1477e9;
}

.about a:hover {
    color: violet;
}

/* Section */
.section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.item h2 {
    margin-top: 10px;
    color: #0021dd;
    text-align: center;
}

.education {
    font-size: 0.9em;
    margin: 10px;
}

.education ul {
    list-style-type: none;
    border-left: 3px solid #1477e9;
}

.education li {
    margin: 10px;
}

.pro-skills {
    margin: 10px 30px;
}

.pro-skills ul {
    list-style-type: square;
}

.icons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 80px);
    place-content: center;
    gap: 20px;
}

.icons .box {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    background-color: white;
    padding: 10px;
}

.box p {
    text-align: center;
    margin: 5px;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

.icons i {
    font-size: 50px;
    color: #6824e6;
}

.link {
    margin: 10px;
}

.link ul {
    list-style-type: none;
    font-size: 13px;
}

.link li {
    margin: 0 10px;
}

.link a {
    text-decoration: none;
}

.link i {
    font-size: 25px;
}




/* Responsive Breakpoint */
/* Extra small devices (phone 735px and down) */
@media screen and (max-width: 735px) {
    .link ul {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;
    }

    .link i {
        font-size: 70px;
    }

    .link b {
        display: none;
    }
}

/* Small devices (phone 735px and up) */
@media screen and (min-width: 735px) {
    .section .contact {
        margin-top: 10px;
        order: 1;
        width: 308%;
    }

    .contact .link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .link a {
        display: flex;
        align-items: center;
    }

    .link b {
        padding: 5px;
    }
}

/* Medium devices (tablets 850px and down) */
@media screen and (max-width: 850px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section {
        text-align: center;
    }

    .education ul {
        border: 0;
    }

    .pro-skills ul {
        list-style-type: none;
    }
}




/* Internal Font */
@font-face {
    font-family: 'sinkin';
    src: url(font/SinkinSans-700Bold-webfont.woff);
}
