/* basic value */
:root {
  /* color */
  --basic-color: #3a0088;
  --basic-color-bright: #5300c0;
  --basic-color-brighten: #6f00ff;
  --basic-color-dark: #240053;

  /* font */
  --html-style-font: "Inconsolata", monospace;
  --basic-font: "OpenSans-Regular", "Helvetica Neue", sans-serif;
}

/* Internal Fonts */
@font-face {
  font-family: "OpenSans-Regular";
  src: url(font/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(font/inconsolata-webfont.woff2);
}

/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--basic-font);
}

/* html */
html {
  scroll-behavior: smooth;
}

/* container */
.container {
  max-width: 85%;
  margin: auto;
}

.title {
  font-family: var(--basic-font);
  font-size: 2rem;
  color: var(--basic-color);
}

.sub-title {
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--basic-color);
}

.sub-sub-title {
  font-family: inherit;
  font-size: 1rem;
  font-style: italic;
  color: var(--basic-color);
}

.paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: var(--basic-color-dark);
}

.title-head {
  padding-top: 55px;
}

/* html style */
.html-style::before {
  content: "<";
}

.html-style::after {
  content: ">";
}

/* navigation */
.nav {
  background-color: var(--basic-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav .logo a {
  text-decoration: none;
}

.nav .logo h1 {
  color: white;
  font-size: 1.3rem;
  position: relative;
  z-index: 3;
}

.slide {
  list-style: none;
  display: flex;
}

.slide li a {
  color: white;
  text-decoration: none;
}

.slide li a:hover {
  color: var(--basic-color);
  background-color: white;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.foto-profile {
  width: 200px;
  height: 200px;
  background-image: url(img/foto-profile-circle.png);
  background-size: cover;
  background-position: center;
  background-color: var(--basic-color);
  border: 5px solid var(--basic-color);
  border-radius: 50%;
}

.foto-profile img {
  width: 200px;
}

.box {
  text-align: center;
}

.box .title {
  padding: 10px;
}

.link {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.link li {
  background-color: var(--basic-color-bright);
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.link li:hover {
  opacity: 0.7;
}

.link li a {
  padding: 10px;
}

.link li a i {
  font-size: 40px;
  color: white;
}

.link li a i:hover {
  opacity: 0.5;
}

/* about */
.about {
  min-height: 100vh;
}

.about-box .paragraph a {
  text-decoration: none;
  color: var(--basic-color-brighten);
}

.about-box .paragraph a:hover {
  color: salmon;
}

.about-box .sub-title {
  text-align: center;
}

.education,
.hobby,
.ability {
  margin: 5px 0;
}

.about-box ul {
  list-style: none;
}

.education {
  margin: 5px 0;
}

.education ul {
  text-align: center;
}

.education ul li {
  width: 60%;
  margin: 5px auto;
  padding: 10px;
  border: 3px solid var(--basic-color-bright);
  border-radius: 20px;
}

.education ul li i {
  font-size: 1rem;
}

.education .sub-sub-title a {
  text-decoration: none;
}

.education .sub-sub-title a:hover {
  color: salmon;
}

.hobby ul,
.ability ul {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.hobby ul li,
.ability ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 3px solid var(--basic-color-bright);
  border-radius: 40px;
}

.about-box i {
  color: var(--basic-color);
  font-size: 40px;
}

/* contact */
.contact {
  min-height: 100vh;
}

.none {
  display: none;
}

.myalert {
  padding: 10px;
  background-color: var(--basic-color-brighten);
  color: white;
  width: 50%;
}

.closeIcon {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: var(--basic-font);
  font-size: 1rem;
  color: var(--basic-color-dark);
  margin-bottom: 10px;
  padding: 8px;
  resize: vertical;
  border: none;
  border-bottom: 2px solid var(--basic-color-brighten);
  outline: none;
}

#submit {
  font-weight: 800;
  text-align: center;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--basic-color-brighten);
  color: white;
  outline: none;
}

#submit {
  opacity: 0.8;
  cursor: pointer;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 2px solid salmon;
}

.contact-form .sub-sub-title {
  font-weight: 700;
}

.contact-info .sub-title {
  font-size: 1.4rem;
}

.contact-info ul {
  list-style: none;
  padding: 10px;
}

.mail a {
  text-decoration: none;
  color: var(--basic-color-bright);
}

.mail a:hover {
  color: salmon;
}

/* footer */
.footer {
  width: 100%;
  margin-top: 30px;
  background-color: var(--basic-color);
  text-align: center;
}

.footer .link li {
  background-color: white;
}

.footer .link li i {
  color: var(--basic-color-bright);
}

.footer .sub-title {
  padding-top: 30px;
  color: white;
}

.footer .paragraph {
  padding: 20px;
  color: white;
}

/* Responsive Breakpoint */
/* medium devices (tablets) */
@media screen and (max-width: 767px) {
  /* navigation */
  .slide {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: var(--basic-color);
    list-style: none;
    transform: translateX(100%);
    transition: 1s;
  }

  .slide-open {
    transform: translateX(0%);
  }

  .slide li a {
    font-size: 2rem;
  }

  .humburger-menu {
    width: 35px;
    height: 35px;
    /* border: 1px solid white; */
    position: relative;
  }

  .humburger-menu input {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
  }

  .humburger-menu span {
    margin-bottom: 6px;
    display: block;
    height: 7px;
    background-color: white;
    transition: 1s;
  }

  /* humburger menu animation */
  .humburger-menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(9.5px, 9.5px) scale(1.2, 1);
  }

  .humburger-menu input:checked ~ span:nth-child(3) {
    transform: rotate(360deg);
    opacity: 0;
  }

  .humburger-menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(9px, -9px) scale(1.2, 1);
  }
}

@media screen and (min-width: 768px) {
  /* navigation */
  .slide li {
    margin-right: 15px;
  }

  .humburger-menu {
    display: none;
  }
}

/* large devices (leptops) */
@media screen and (min-width: 1024px) {
  /* about */
  .about-box {
    padding: 30px;
  }

  .about-box-wrap {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .about-box .paragraph {
    font-size: 1.3rem;
  }

  /* contact */
  .contact-box {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    padding: 30px;
  }
}

/* extra large devices (desktops) */
@media screen and (min-width: 1200px) {
}
