/* Universal Sytle */
body {
  font-family: 'Poppins', sans-serif;
}

#about, #projects, #contact {
  padding-top: 4em;
}

/* Navbar */
.navbar {
  background-color: #f017ff;
}

.navbar-brand {
  font-family: 'Pacifico', sans-serif;
  letter-spacing: .1rem;
}

/* Jumbotron */
.jumbotron {
  background-color: #fde6ff;
  padding-top: 5.5em;
}

/* Projects */
#projects {
  background-color: #fde6ff;
}

/* Footer */
footer {
  background-color: #f017ff;
}