/* Global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --basic-color: #292a2d;
  --basic-color-semi-light: #424347;
  --basic-color-light: #c4c4c4;
  --font-color: #a9a9b3;

  /* Font family */
  --basic-font: "Ubuntu Mono", monospace;
  --monospace-font: "Courier New", Courier, monospace;
}

body {
  background: var(--basic-color);
  color: var(--font-color);
  font-family: var(--basic-font);
  font-weight: bold;
}

a:link,
a:visited {
  color: var(--font-color);
  text-decoration: none;
}

.container {
  margin: 1.25em 1.875em;
}

/* Navigation */
.nav-links,
.nav-medsos {
  list-style: none;
  text-decoration: none;
}

.nav-link a,
.medsos a {
  font-size: 1.2rem;
}

.nav-link a:visited,
.medsos a:visited {
  color: var(--font-color);
}

.nav-link a:hover,
.medsos a:hover {
  opacity: 0.5;
}

.nav-medsos {
  display: flex;
}

.nav-medsos .medsos {
  background: var(--font-color);
  width: 1.875em;
  height: 1.875em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.nav-medsos .medsos a {
  color: var(--basic-color);
}

/* Header */
.header {
  padding: 2.5em 0;
  display: flex;
}

.bash-style {
  padding-bottom: 2.5em;
}

.bash-style span {
  font-size: 1.8em;
}

.bash-style .command {
  font-size: 1em;
  font-family: var(--monospace-font);
}

.taglines {
  display: flex;
  padding: 1.7em 0;
}

.tagline {
  margin-right: 0.625em;
  padding: 0.3125em;
  border: 0.25em solid var(--basic-color-semi-light);
}

.desc {
  padding-top: 1em;
  max-width: 31.5625em;
  line-height: 1.5;
}

/* Responsive Breakpoint */
/* Mobile devices */
@media screen and (max-width: 415px) {
  /* Header */
  .header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1.7em;
    text-align: center;
  }

  .taglines {
    justify-content: center;
  }
}

/* Small tablet devices */
@media screen and (min-width: 700px) {
  /* Header */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13em;
    height: 13em;
    background: var(--font-color);
    padding: 2em;
    border-radius: 50%;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 699px) {
  /* Header */
  .header-right {
    display: none;
  }
}

/* Tablet devices */
@media screen and (max-width: 834px) {
  /* Navigation */
  .nav-box {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--basic-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    z-index: 1;
    transition: 0.5s;
  }

  .toggle {
    transform: translateX(0);
  }

  .change-color {
    color: var(--basic-color);
  }

  .nav-links {
    text-align: center;
  }

  .nav-links .nav-link {
    padding: 1.25em 0;
  }

  .nav-medsos {
    padding-top: 1.25em;
  }

  .nav-medsos .medsos {
    margin: 0 0.3125em;
  }

  .nav-links .nav-link a,
  .nav-medsos .medsos a {
    color: var(--basic-color);
  }

  .humburger-menu {
    display: flex;
    justify-content: end;
  }

  .fas {
    font-size: 2rem;
    z-index: 2;
  }

  /* Header */
}

@media screen and (min-width: 835px) {
  .container {
    margin: 1.25em 4em;
  }

  /* Navigation */
  .nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .humburger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .nav-links .nav-link {
    margin-right: 1.25em;
  }

  .nav-medsos .medsos {
    margin-left: 0.625em;
  }
}

/* Large desktop devices */
@media screen and (min-width: 1024px) {
  .container {
    margin: 1.25em 10em;
  }

  /* Header */
  .hero {
    width: 15.5em;
    height: 15.5em;
  }

  .header-right {
    margin-left: 4em;
  }
}
